/******************************************
/* CSS
/*******************************************/

@font-face {
  font-family: "Coconat-Regular";
  src: url("fonts/Coconat-Regular.otf") format("opentype"),
    url("fonts/Coconat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Demi";
  src: url("fonts/Coconat-Demi.otf") format("opentype"),
    url("fonts/Coconat-Demi.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Bold";
  src: url("fonts/Coconat-Bold.otf") format("opentype"),
    url("fonts/Coconat-Bold.woff2") format("woff2");
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

:root {
  --font-reg: "Coconat-Regular";
  --font-demi: "Coconat-Demi";
  --font-bold: "Coconat-Bold";
  --font-main: "nimbus-sans", sans-serif;

  --font-size-main: 16px;

  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-main);
}

body {
  font-family: var(--font-main);
  font-weight: 300;

  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: var(--font-demi);
  font-size: 1.25rem;
}

h2 {
  font-family: var(--font-bold);
  font-size: 3.5rem;
  line-height: 1.15;
  margin: 3rem 0 2rem;
  overflow-wrap: break-word;
}

h3 {
  font-family: var(--font-demi);
  font-size: 1.75rem;
}

h4 {
  font-weight: 300;
  font-size: var(--font-size-main);
  margin: 0.5rem 0 1rem;
}

p {
  font-size: 1.125rem;
}

ul {
  padding-left: 0px;
}

li {
  font-size: 1.25rem;
  list-style: none;
}

input {
  border: none;
  border-radius: 0px;
  border-bottom: #000 1px solid;
}

input::-webkit-input-placeholder {
  font-family: var(--font-main);
}
input::-moz-placeholder {
  font-family: var(--font-main);
}
input:-ms-input-placeholder {
  font-family: var(--font-main);
}
input:-moz-placeholder {
  font-family: var(--font-main);
}

button {
  border: none;
  background: #000;
  color: #fff;

  text-transform: uppercase;
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  transition: transform 0.3s var(--ease-out);
}

button#random {
  background: none;
  border: #000 1px solid;
  color: #000;
}

.input--container button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin-left: 10px;
}

button:hover {
  transform: scale(0.95);
}

.slideup {
  animation-name: slideup;
  animation-duration: 0.5s;
  animation-timing-function: var(--ease-out);
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer,
.input--container,
.main--container,
.subcat--container,
.drink-content {
  display: flex;
}

header {
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 3rem 3rem;

  justify-content: space-evenly;
}

.image--container,
.content--container {
  width: 50%;
  height: 100vh;
}

.input--container {
  flex-flow: row nowrap;
}

.content--container {
  padding: 1rem 3rem;
}

.drink-content {
  column-gap: 2rem;
}

.subcat-col {
  width: calc(100% / 3);
}

.divider {
  height: 1px;
  background: #000;
  width: 100%;
  margin: 2rem 0 1rem;
}

.content-col:first-of-type {
  width: 40%;
}
.content-col:last-of-type {
  width: 60%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 999px) {
  body {
    overflow: visible;
  }

  .main--container {
    flex-direction: column;
  }

  .image--container,
  .content--container,
  footer {
    width: 100%;
  }

  footer {
    position: relative;
  }

  .image--container {
    height: 40vh;
  }

  .content--container {
    height: auto;
  }
  .content--container {
    order: -1;
  }
}

@media screen and (max-width: 649px) {
  section.drink-content,
  header {
    flex-direction: column;
  }

  header {
    gap: 0.5rem;
  }

  .drink-content div.content-col {
    width: 100%;
  }

  h2 {
    font-size: 2.75rem;
    text-align: center;
  }

  footer {
    padding: 1.5rem 0.5rem;
  }

  .content--container {
    padding: 1rem;
  }
}
