/******************************************
/* CSS
/*******************************************/

@font-face {
  font-family: "Coconat-Regular";
  src: url("fonts/Coconat-Regular.otf") format("opentype"),
    url("fonts/Coconat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Demi";
  src: url("fonts/Coconat-Demi.otf") format("opentype"),
    url("fonts/Coconat-Demi.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Bold";
  src: url("fonts/Coconat-Bold.otf") format("opentype"),
    url("fonts/Coconat-Bold.woff2") format("woff2");
}

:root {
  --font-reg: "Coconat-Regular";
  --font-demi: "Coconat-Demi";
  --font-bold: "Coconat-Bold";
  --font-main: "nimbus-sans", sans-serif;

  --font-size-main: 16px;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-main);
}

body {
  font-family: var(--font-main);
  font-weight: 300;

  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-family: var(--font-demi);
  font-size: 1.5rem;
}

h2 {
  font-family: var(--font-bold);
  font-size: 3.75rem;
  line-height: 1.15;
}

h3 {
  font-family: var(--font-demi);
  font-size: 1.75rem;
}

h4 {
  font-weight: 300;
  font-size: var(--font-size-main);
  margin: 0.5rem 0 1rem;
}

p {
  font-size: 1.125rem;
}

ul {
  padding-left: 0px;
}

li {
  font-size: 1.25rem;
  list-style: none;
}

input {
  border: none;
  border-bottom: #000 1px solid;
}

button {
  border: none;
  background: #000;
  color: #fff;

  text-transform: uppercase;
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
}

button#random {
  background: none;
  border: #000 1px solid;
  color: #000;
}

.input--container button {
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  margin-left: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer,
.main--container,
.subcat--container,
.drink-content {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 3rem 3rem;

  justify-content: space-evenly;
}

.subcat-col {
  width: calc(100% / 3);
}

.content-col:first-of-type {
  width: 40%;
}
.content-col:last-of-type {
  width: 60%;
}

.image--container,
.content--container {
  width: 50%;
  height: 100vh;
}

.content--container {
  padding: 1rem 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
