/******************************************
/* CSS
/*******************************************/

@font-face {
  font-family: "Coconat-Regular";
  src: url("fonts/Coconat-Regular.otf") format("opentype"),
    url("fonts/Coconat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Demi";
  src: url("fonts/Coconat-Demi.otf") format("opentype"),
    url("fonts/Coconat-Demi.woff2") format("woff2");
}

@font-face {
  font-family: "Coconat-Bold";
  src: url("fonts/Coconat-Bold.otf") format("opentype"),
    url("fonts/Coconat-Bold.woff2") format("woff2");
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

:root {
  --font-reg: "Coconat-Regular";
  --font-demi: "Coconat-Demi";
  --font-bold: "Coconat-Bold";
  --font-main: "nimbus-sans", sans-serif;

  --font-size-main: 16px;
  --height-main-desktop: 11vh;

  --color-main: rgba(30, 30, 30, 1);
  --color-main-50: rgba(30, 30, 30, 0.5);
  --color-bg-1: rgba(235, 229, 217, 1);
  --color-bg-2: rgba(17, 59, 60, 1);
  --color-none: rgba(255, 255, 255, 0);

  --border-main: solid 1px var(--color-main);
  --border-light: solid 1px var(--color-bg-1);

  --transition-ease-out: cubic-bezier(0.25, 1, 0.5, 1);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  color: var(--color-main);
  background: var(--color-bg-1);

  font-weight: 300;

  margin: 0;
  height: 100vh;
}

h1,
h3 {
  font-family: var(--font-demi);
}
h1 {
  font-size: 1.25rem;
}

h2 {
  font-family: var(--font-bold);
  font-size: 3rem;
  line-height: 1.15;
  margin: 3rem 0 2rem;
  overflow-wrap: break-word;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 300;
  font-size: var(--font-size-main);
  margin: 0.5rem 0 1rem;
}

p {
  font-size: 1.125rem;
}

ul {
  padding-left: 0px;
}

li {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

input {
  border: none;
  border-radius: 0px;
  border-bottom: var(--border-main);
  background: rgba(255, 255, 255, 0);
}

input::-webkit-input-placeholder {
  font-family: var(--font-main);
  color: var(--color-main-50);
}
input::-moz-placeholder {
  font-family: var(--font-main);
  color: var(--color-main-50);
}
input:-ms-input-placeholder {
  font-family: var(--font-main);
  color: var(--color-main-50);
}
input:-moz-placeholder {
  font-family: var(--font-main);
  color: var(--color-main-50);
}

button {
  border: none;
  background: var(--color-main);
  color: var(--color-bg-1);

  text-transform: uppercase;
  font-size: var(--font-size-main);
  font-family: var(--font-main);
  font-weight: 300;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  transition: transform 0.3s var(--transition-ease-out);
}

button#random {
  background: none;
  border: var(--border-main);
  color: var(--color-main);
}

.input--container button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

button:hover {
  transform: scale(0.95);
}

.slideup {
  animation-name: slideup;
  animation-duration: 0.5s;
  animation-timing-function: var(--transition-ease-out);
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer,
.input--container,
.main--container,
.image--container,
.subcat--container,
.drink-content {
  display: flex;
}

header,
footer {
  z-index: 5;
  position: fixed;
  right: 0;
  padding: 1rem 3rem;

  background: var(--color-bg-1);

  height: var(--height-main-desktop);
  width: 50%;

  align-items: center;
}

header,
.drink-content {
  column-gap: 2rem;
}

header {
  top: 0;
  justify-content: space-between;
  border-bottom: var(--border-main);
}

footer {
  bottom: 0;
  justify-content: space-evenly;
  border-top: var(--border-main);
  flex-flow: row wrap;
  /* background: pink; */
}

main {
  /* padding: 0.25rem 0; */
}

.main--container {
  position: relative;
}

.image--container,
.content--container {
  width: 50%;
}

.image--container {
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-right: var(--border-main);

  background: linear-gradient(161deg, rgb(17 59 60), rgb(17 59 60 / 30%));

  align-items: center;
  justify-content: center;
}

.input--container {
  flex-flow: row nowrap;
  gap: 0.75rem;
}

.content--container {
  margin: var(--height-main-desktop) 0;
  padding: 1rem 3rem;
}

.subcat-col {
  width: calc(100% / 3);
}

.divider {
  height: 1px;
  background: var(--color-main);
  width: 100%;
  margin: 2rem 0 1rem;
}

.content-col:first-of-type {
  width: 40%;
}
.content-col:last-of-type {
  width: 60%;
}

img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  background: var(--color-bg-1);
  border: var(--border-light);
  border-radius: 38% 0 38% 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 999px) {
  .main--container {
    flex-direction: column;
  }

  header,
  footer,
  .image--container,
  .content--container {
    width: 100%;
  }

  .main--container {
    margin: var(--height-main-desktop) 0;
  }

  .image--container {
    position: relative;
    height: 40vh;
    border-right: 0;
    border-bottom: var(--border-main);
  }

  img {
    height: 85%;
    border-radius: 28% 0 28% 0;
  }

  .content--container {
    margin-top: 0;
    height: auto;
  }
  .content--container {
    /* order: -1; */
  }
}

@media screen and (max-width: 649px) {
  section.drink-content,
  header {
    flex-direction: column;
  }

  header,
  footer {
    padding: 1rem 0.5rem;
  }

  header {
    row-gap: 0.5rem;
    height: 15vh;
    justify-content: flex-start;
  }

  .main--container {
    margin: calc(var(--height-main-desktop) + 2rem) 0;
  }

  .drink-content div.content-col {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  img {
    border-radius: 28% 0 28% 0;
  }

  .content--container {
    padding: 1rem;
  }

  .subcat-col {
    text-align: center;
  }

  .input--container {
    flex-flow: row wrap;
    justify-content: center;
  }
}
